@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&family=Ubuntu:ital,wght@0,500;0,700;1,400;1,500;1,700&display=swap');


/* reset global sacamos el margin y padding que trae por defecto el navegador */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} 

/* reset de tamaño de fuente para que 1rem y 1em sean igual a 10px */
html {
    font-size: 62.5%;
}

/* Le quito el punto al menu de navegacion */
ul {
    list-style-type: none;
}

/* Le quito el subrayado a todos los links */
a {
    text-decoration: none;
    color: #000;
}

img{
    width: 700px;
}


/* MODIFICAMOS EL HEADER */
.logo-edit {
    width: 13rem;
}

.bg-header {
    /* background-color: #92d1f2; */
    background-color: #001a41;
}

.navbar-edit {
    gap: 4rem;
    justify-content: space-evenly;
    align-items: baseline;
}

.text-center-edit {
    align-items: center;
    text-align: center;
}

.nav-link {
    font-family: 'Ubuntu', 'sans-serif';
    font-size: 3rem;
    /* color: black; */
    color: aliceblue;
}

.nav-link-edit:hover {
    text-decoration: underline;
    /* color: rgb(70, 68, 68); */
    color: #00b4fb;
}

.navbar-toggler-icon {
    width: 3em;
    height: 3em;
    background-color: aliceblue;
}

.navbar-toggler {
    margin-right: 4.5rem;
    background-color: aliceblue;
}

.align-items-edit{
    align-items: end;
}


/* MODIFICAMOS EL MAIN */
.bg-main{
    /* background-color: #c6e8f9; */
    background-color: #00b4fb;
    border-radius: 1rem;
}

.titulo-principal{
    font-family: 'ubuntu';
    font-size: 5rem;
    text-align: center;
    padding: 1rem 1rem;
    color: #001a41;

}

.texto-principal{
    font-family: 'Oswald';
    font-size: 2rem;
    text-align: justify;
    color: #001a41;
}

/* MODIFICAMOS EL FOOTER */
.texto-copyright{
    font-family: 'Ubuntu';
    font-size: 1.5rem;
    color: aliceblue;
    text-align: center;
}

.copyright-edit{
    display: flex;
    flex-wrap: wrap;
    align-content: end;
}

.logo-footer-edit{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

.redes-edit{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.menu-footer-item{
    font-family: 'Ubuntu';
    font-size: 3rem;
    color: aliceblue;
}



@media only screen and (max-width: 575px) {

    .copyright-edit{
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }
    
    .logo-footer-edit{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .redes-edit{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .menu-items{
        display: flex;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }

    .nav-link {
        font-size: 2rem;
    }

    .carrousel-edit{
        display: none;
    }

    .titulo-principal{
        font-size: 3.5rem;
    }

    @media only screen and (max-width: 275px) {

        .container-edit{
            flex-direction: column;
        }
    
        .navbar-toggler {
            margin: 2rem 0;
        }
    
        .aside-edit{
            display: block;
        }
    
        .aside-edit{
            display: none;
        }
    
        .titulo-principal{
            font-size: 2.5rem;
        }

        .menu-items{
            padding-top: 1rem;
        }

        .nav-link {
            font-size: 1.5rem;
        }
    
    }

}