@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&family=Ubuntu:ital,wght@0,500;0,700;1,400;1,500;1,700&display=swap');


/* reset global sacamos el margin y padding que trae por defecto el navegador */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* reset de tamaño de fuente para que 1rem y 1em sean igual a 10px */
html {
    font-size: 62.5%;
}

/* Le quito el punto al menu de navegacion */
ul {
    list-style-type: none;
}

/* Le quito el subrayado a todos los links */
a {
    text-decoration: none;
    color: #000;
}

img{
    width: 700px;
}


/* MODIFICAMOS EL HEADER */
.logo-edit {
    width: 13rem;
}

.bg-header {
    background-color: #92d1f2;
}

.navbar-edit {
    gap: 4rem;
    justify-content: space-evenly;
    align-items: baseline;
}

.text-center-edit {
    align-items: center;
    text-align: center;
}

.nav-link {
    font-family: 'Ubuntu', 'sans-serif';
    font-size: 3rem;
    color: black;
}

.nav-link-edit:hover {
    text-decoration: underline;
    color: rgb(70, 68, 68);
}

.navbar-toggler-icon {
    width: 3em;
    height: 3em;
}

.navbar-toggler {
    margin-right: 4.5rem;
}

.align-items-edit{
    align-items: end;
}


/* MODIFICAMOS EL MAIN */
.titulo-principal{
    font-family: 'ubuntu';
    font-size: 5rem;
    text-align: center;

}

.bg-main{
    background-color: #c6e8f9;;
    border-radius: 2rem;
}


@media only screen and (max-width: 275px) {

    .container-edit{
        flex-direction: column;
    }

    .navbar-toggler {
        margin: 2rem 0;
    }

}