// COLORES BACKGROUND
$background-azul:#001a41;
$background-celeste:#00b4fb;


//COLORES TEXTO
$textcolor-claro:aliceblue;
$textcolor-oscuro: #001a41;
$textcolor-header-hover:#00b4fb;

//COLORES MENU HAMBURGUESA
$color-menu:aliceblue;

//TAMAÑOS TEXTO
$fontsize-menu:3rem;
$fontsize-copyright:1.5rem;
$fontsize-titulo:5rem;
$fontsize-titulo-sm:3.5rem;
$fontsize-titulo-xs:2.5rem;
$fontsize-parrafo:2rem;
$fontsize-parrafo-xs:1.5rem;
$fontsize-textcard:1.2rem;
$fontsize-fixture:1.5rem;
$fontsize-contacto:1.5rem;

//TAMAÑOS IMAGENES
$logo-header:8rem;
$logo-footer:13rem;

